#primero {
  background-image: url(../assets/images/cara1.jpg);
  background-size: cover;
}
#segundo {
  background-image: url(../assets/images/cara2.jpg);
  background-size: cover;
}
#tercero {
  background-image: url(../assets/images/cara3.jpg);
  background-size: cover;
}
#cuarto {
  background-image: url(../assets/images/cara4.jpg);
  background-size: cover;
}
#quinto {
  background-image: url(../assets/images/cara5.jpg);
  background-size: cover;
}
#sexto {
  background-image: url(../assets/images/cara6.jpg);
  background-size: cover;
}

h1 {
  font-family: sans-serif;
  margin: 20px;
}

hr {
  background-color: #000;
  display: inline-block;
  height: 10px;
  margin: 0px 20px; 
  width: 80px;
}
.cuadro {
  width: 18.5%;
  height:200px;
  margin: 20px;
  background: red;
  display: inline-block;
  position:relative;
}

.cuadro:hover {
  opacity: 0.5;
}
.parrafo {
  color: white;
  display: inline-block;
  font-family: sans-serif;
  font-size: 16px;
  margin-right: 20px;
  position: relative;
  text-shadow: 2px 2px #000;
  top: 150px;
  float:right;
}
